USE [acpay]
GO
/****** 物件:  StoredProcedure [dbo].[ep_62k_vy]    指令碼日期: 6/12/2026 9:13:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from eep_trh 
--exec .dbo.ep_62k_vy 'A01_00_0000000000002','y' 
ALTER procedure [dbo].[ep_62k_vy]
(
@menuflag char(20)     ,
@chjerno nvarchar(99) 
)
--casper--
as
begin

 
declare @chjernov nvarchar(100) 

select @chjernov = chjernov  
 
from eep_trh
where menuflag = @menuflag
   
--已作廢不處理
if substring(isnull(@chjernov,''),1,1)='Y' return 
 

set @chjernov = 'Y::' + isnull(@chjerno,'') 
 

--這裡寫核准程序
--這裡寫核准程序
--這裡寫核准程序
--這裡寫核准程序
update eep_trh set chjernov = @chjernov where menuflag = @menuflag  

insert into eep_logs(dt,menuflag,chjernov) 
values ( GETDATE() , @menuflag,@chjernov ) 
end 
